* {
    margin:0; padding: 0;
    -webkit-box-sizing: border-box;
            boz-sizing: border-box;
}
body {
    position: fixed; top: 0; right: 0; bottom: 0; left: 0;
    background: #fff; color: #444;
    font-family: "Arial"; font-size: 9px; line-height: 12px;
}

.arrow {
    height: 0; width: 0; top: 50%; left: 50%;
    border: 4px solid transparent;
    position: absolute;
}
.arrow.top {
    margin-top: 138px; margin-left: -4px;
    border-bottom-color: rgba(0,0,0,.5);
}
.arrow.bottom {
    margin-top: -146px; margin-left: -4px;
    border-top-color: rgba(0,0,0,.5);
}
.arrow.left {
    margin-top: -4px; margin-left: 138px;
    border-right-color: rgba(0,0,0,.5);
}
.arrow.right {
    margin-top: -4px; margin-left: -146px;
    border-left-color: rgba(0,0,0,.5);
}
.arrow span {
    visibility: hidden;
    display: inline-block; position: absolute;
    width: 50px; text-align: center;
    height: 11px;
}
.arrow.top span {
    left: -25px; top: 6px;
}
.arrow.bottom span {
    left: -25px; top: -15px;
}
.arrow.right span {
    top: -9px; left: -38px;
}
.arrow.left span {
    top: -9px; left: -12px;
}

@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0); }
    to { -webkit-transform: rotate(360deg); }
}
#face, #cities, .test {
    background: #eee; border-radius: 280px;
    position: absolute;
    top: 50%; margin-top: -140px;
    left: 50%; margin-left: -140px;
    width: 280px; height: 280px;
    -webkit-transition: all 1s ease;
    -webkit-transform: rotate(0);
}
#face {
    opacity: 1;
}
.test {
    -webkit-transform: rotate(162deg);
    opacity: .2;
}
#cities {
    background: none;
    font-size: 10px;
}
#cities .city {
    position: absolute; left: 50%;
    width: 100px; margin-left: -50px;
    height: 20px; line-height: 20px;
    text-align: center;
    -webkit-transform-origin: 50px 140px;
}